*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 0;
    border: 0;
}
html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;    
    background-color: #191919;
}
.head_back{
    background-color: #2f2f2f;
    top: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1.5px solid #87CEEB;
    position: sticky;
}
.logo{
    max-width: 75px;
    max-height: 75px;
}
.logo img{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    height: 100%;
    display: flex;
}

.head_button_left{
    background: 0;
    width: 125px;
    height: 100%;
    border-right: 2px solid rgb(100, 100, 100);
    color: #ffffff;
}

.search{
    width: 500px;
    height: 50%;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    background-color: #191919;
    align-self: center;
    border-radius: 25px;
}

.head_button_right{
    color: aqua;
    background: 0;
}

.centered{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.ad{
    width: 100%;
    height: 15vw;
    background-color: rgb(100, 100, 100);
    display: flex;
    justify-content: center;
}

.ad img{
    width: 100%;
    height: 100%;
}

.inv{
    position: sticky;
    bottom: 0;
    height: 50px;
    background-color: #2f2f2f;
    border-top: 1.5px solid #87CEEB;
    width: 100%;
}

.player{
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.side_button{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_mid{
    width: 100%;
    max-width: 1000px;
    display: flex;
    gap: 5px    ;
}

.button_mid p{
    color: #ffffff;
    width: 30px;
    text-align: center;
    padding-bottom: 3px;
}

.button_mid input[type="range"]{
    width: 100%;
    accent-color: #87CEEB
}

.player button{
    width: 35px;
    height: 35px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player button img{
    width: 70%;
    filter: invert(1);
}

.text{
    align-self: center;
}